.card{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    .card-name{
        position: absolute;
        top: 2%;
        width: 100%;
        height: 15%;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Balsamiq Sans', cursive;
        font-weight: 500;
    }
    .card-photo{
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 70%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .card-buy{
        position: absolute;
        bottom: 2%;
        width: 90%;
        height: 15%;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:row-reverse wrap;
        font-family: "Sansita Swashed", cursive;
        .card-add-to-cart{
            display: flex;
            box-sizing: border-box;
            height: 100%;
            width: 70%;
            background-color: #DAA520;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            line-height: 3em;
        }

        .card-price{
            margin-right: 5px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    
    .card-info{
        width: 100%;
        height: 50%;
        visibility: hidden;
        z-index: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 10%;
        opacity: 1;
        span{
            margin-top: 10px;
        }
    }
    
    &:hover{
        background-color: white;
        border: 3px solid #aa9a75;
        border-radius: 2px;
        transition: border .1s ease, background-color .1s ease;
        .card-photo{
            opacity: 0.3;
            z-index: 1;
        }
    }

    &:hover > .card-info{
        visibility: visible;
    }     
}



.list{
    display: flex;
    align-items: center;
    justify-content: center;
    .list_prevBtn, .list_nextBtn{
        width: 5%;
        height: 70%;
        :hover{
            cursor: pointer;
        }
    }

    .list_current{
        width: 5%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .prevBtn, .nextBtn{
        width: 100%;
        height: 100%;
        fill: white;
    }
    .prevBtn{
        transform: rotate(180deg);
    }
}

.list-hidden{
    visibility: hidden;
}

@media screen and(max-width: 768px){
    .card-info_text{
        visibility: hidden;
    }

    .card .card-info{
        span{
            margin: 0;
        }
    }
}